@{
    Layout = "~/View/Main_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strona Nauczyciela</title>

    @*<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>*@

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    
    @*<link rel="stylesheet" href="~/Contents/Home/Home.css" type="text/css" />*@

    <link href="~/Contents/Student/Student.css" rel="stylesheet" />


</head>
<body>

    <div id="Container">
        <div id="Second_Menu">
            <a href="/Student/Student_Grades"><div id="Oceny"><i id="icon-grades" class="icon-chart-bar-1"></i>Moje oceny</div></a>
        
</div>
        <div id="container_of_calendar">
            <div id="calender"></div>



            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><span id="eventTitle"></span></h4>
                        </div>
                        <div class="modal-body">
                            
                            <p id="pDetails"></p>
                            <p id="pClassID"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />



    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Contents/Others/date.js"></script>



    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="https://momentjs.com/downloads/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/Contents/Others/pl.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/Student/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: v.EventID,
                                title: v.Subject,
                                description: v.Description,
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay,
                                ClassID: v.ClassID
                            });
                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 360,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    eventMouseover: function (calEvent, jsEvent, view) {
                        $('.fc-content', this).append('<div id=\"' + calEvent.eventID + '\" class=\"hover-end\">' + $.fullCalendar.title + calEvent.title + calEvent.description + '</div>');



                    },
                    eventMouseout: function (calEvent, jsEvent, view) {
                        $('#' + calEvent.eventID).remove();
                    },
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Początek: </b>' + calEvent.start.format("DD-MM-YYYY HH:mm")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>Koniec: </b>' + calEvent.end.format("DD-MM-YYYY HH:mm")));
                        }

                        if (calEvent.description === 'null' || calEvent.description === null) {
                            $description.append($('<p/>').html('<b>Opis wydarzenia: </b>' + 'Brak'));
                        }
                        else {
                            $description.append($('<p/>').html('<b>Opis wydarzenia: </b>' + calEvent.description));
                        }

                        $('#myModal #pDetails').empty().html($description);





                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: ''
                        };

                        $('#calendar').fullCalendar('unselect');
                    }

                })
            }
        })

      





    //            }

    //        })
    //            }
    //})

        




        </script>








</body>
</html>