
@{
    Layout = "~/View/Main_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Contents/Teacher/Grades_View.css" rel="stylesheet"/>
    <script src="~/Contents/Others/Chart/Chart.bundle.js"></script>
    <script src="~/Contents/Others/Chart/utils.js"></script>

</head > 

<body > 

    <div id="full_container">

        <div>
            <div id="Main_Text">Wybierz interesującą Cię klasę</div>

            <form action="/Teacher/Grades_View_I" method="post">
                @foreach (var item in ViewBag.Klasy_II)
            {

                    <div id="Klasa">
                        <input type="radio" class="input-check" name="ClassID" value="@item.ClassID">
                        <label class="label-check">@item.Nazwa_Klasy</label>

                </div>

                }
                <input type="submit" value="Wybierz" />
            </form>
        </div>


        <div id="container" style="width: 75%;">
            <canvas id="canvas"></canvas>
        </div>

       

    </div>


    <script>
        var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var color = Chart.helpers.color;
        var horizontalBarChartData = {
            labels: ["I A", "I B", "I C", "I D"],
            datasets: [{
                label: 'Język Angielski',
                backgroundColor: '#007799',
                borderColor: window.chartColors.gray,
                borderWidth: 2,
                data: [


                    @foreach(var test2 in ViewBag.Ang)
                    {
                        @test2
                    }
                ]
            }, {
                label: 'Język Polski',
                backgroundColor: '#4c4c4c',
                borderColor: window.chartColors.gray,
                borderWidth: 2,
                data: [

                    @foreach(var test2 in ViewBag.Pol)
                    {
                        @test2
                    }
                ]
            },
			{
                label: 'Chemia',
                backgroundColor: '#6aff00',
                borderColor: window.chartColors.gray,
                borderWidth: 2,
                data: [

                       @foreach(var test2 in ViewBag.Chem)
                       {
                           @test2
                       }

                ]
            },{
				label:'Matematyka',
                backgroundColor: '#bf5f00',
                borderColor: window.chartColors.gray,
                borderWidth: 2,
				data: [
					 @foreach(var dd in ViewBag.Matma)
                    {
                       @dd
                    }
				]
				}
]
        };


		Chart.pluginService.register({
    beforeDraw: function (chart, easing) {
        if (chart.config.options.chartArea && chart.config.options.chartArea.backgroundColor) {
            var helpers = Chart.helpers;
            var ctx = chart.chart.ctx;
            var chartArea = chart.chartArea;

            ctx.save();
            ctx.fillStyle = chart.config.options.chartArea.backgroundColor;
            ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
            ctx.restore();
        }
    }
});

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myHorizontalBar = new Chart(ctx, {
                type: 'horizontalBar',
                data: horizontalBarChartData,
                options: {
                    // Elements options apply to all of the options unless overridden in a dataset
                    // In this case, we are setting the border of each horizontal bar to be 2px wide
                   
                    tooltips: {
                        bodyFontSize: 16,
                        titleFontSize:16
                    },
                    scales: {
                        
                        xAxes: [{
                            gridLines: {
                                display: true,
                                color: "white"
                            },
                            ticks: {
                                beginAtZero: true

                                //beginAtZero: true,
                                //steps: 10,
                                //stepValue: 5,
                                //max: 100
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                display: true,
                                color: "white"
                            },
                        }]
                    },
                    elements: {
                        rectangle: {
                            borderWidth: 4,
                        }
                    },
                    responsive: true,
					chartArea: {
                        backgroundColor: '#62a49e'
                    },
                    
                    legend: {
                        
                        position: 'right',
                        labels: {
                            fontColor: "white",
                            fontSize: 18
                        }
                    },
                    title: {
                        position: 'top',
                        display: true,
                        text: 'Wykres prezętujący średnią ocen poszczególnych klas względem przedmiotów',
                        fontColor: "white",
                        fontSize: 24,
                        fontStyle: 'bold',
                        fontFamily: "Times New Roman"
                    }
                }
            });

        };


        Chart.defaults.global.defaultFontColor = '#fff';
        Chart.defaults.global.defaultFontSize = 16;
        



    </script>




</body > 
</html >
        