@{ 
    Layout = "~/View/Main_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strona Nauczyciela</title>
    <link rel="stylesheet" href="~/Contents/Teacher/Teacher.css" type="text/css" />
</head>
<body>

    <div id="container">
        <a href="/Teacher/Grades">
            <div id="Wprowadzanie_ocen">
                <div id="icon1"><i class="icon-graduation-cap"></i></div><div id="text1">Wprowadzanie ocen</div>

            </div>
        </a>
        <a href="/Teacher/Grades_View">
            <div id="Przegląd_Ocen">
                <div id="icon1"><i class="icon-chart-bar-1"></i></div><div id="text1">Przegląd ocen</div>
            </div>
        </a>



</div>
</body>
</html>
