@{ 

    //Przetestowac  wpisana nazwe
    @*@School_Project.Models;

    SzkolaEntities db = new SzkolaEntities();
    var adm = (from ad in db.User
               where
                    ad.UserName == UserName &&
                    ad.Password == Password
               select ad).FirstOrDefault();*@
}



<h1>Sekret</h1>

<li><a href="/Login/Logout">Logout</a></li>
<p>
    @ViewBag.message
</p>
<p>
    @ViewBag.Text
</p>